@import "tailwindcss";

@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}