@import "tailwindcss";
@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-scroll-right {
  display: flex;
  gap: 0.5rem;
  animation: scroll-right 45s linear infinite; 
}


body {
  overflow-x: hidden;
  overflow-y: auto;   
  scrollbar-width: thin;
  scrollbar-color: #ff0000 transparent;
}